@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li a {
  color:rgb(96, 96, 96);
  text-decoration: none;
}

body {
  display: flex;
  flex:1;
  flex-direction: column;
  gap:3em;
}

.header, .footer {
  display: flex;
  justify-content: flex-end;
}

.left-links, .right-links {
  display: flex;
  gap: 1em;
}

 .right-links {
  padding-right: 1em;
} 

.left-links {
  margin-right: auto;
} 

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color:rgba(128, 128, 128, 0.277);
}

button {
  padding: 0.45em;
}